.story-form-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px; /* Adjust the width as needed */
    background-color: #f9f9f9; /* Optional: add a background color for better visibility */
    border: 1px solid #ddd; /* Optional: add a border */
    border-radius: 10px; /* Optional: round the corners */
  }
  
  .story-form-container h2 {
    color: #A2CFB3;
  }
  
  .story-form-container .form-group {
    margin-bottom: 20px;
  }
  
  .story-form-container .submit-button {
    background-color: #A2CFB3;
    border-color: #A2CFB3;
    width: 100%;
    margin-top: 10px; /* Add some margin to the top of the button */
  }
  